<div>
  <form action='/users' method='post'>
    <p>Enter email</p>
    <input type="text" name="email">
    <p>Enter password</p>
    <input type="password" name="password">
    <input type="password" name="password_confirmation">
    <input type="submit" value="Sign up">
  </form>
</div>