<h1> Links </h1>

<ul id="links">
  <% @links.each do |link| %>
    <li>
      Title: <%= link.title %>
      URL:   <a href="http://<%= link.url%>" target="_blank"><%= link.url%></a>
      tag:   <%= link.tags.map(&:name) %>
    </li>
  <% end %>
  <p><a href='/links/new'> Please click here to add a new link</a></p>
</ul>