<div>
  <form action='/links' method='post'>
    <p>Enter URL</p>
    <input type="text" name="url">
    <p>Enter Title</p>
    <input type="text" name="title">
    <p>Enter Tag</p>
    <input type="text" name="tags">
    <input type="submit" value="Create link">
  </form>
</div>
